{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>CapeArk Administration Portal</title>

    <link rel="stylesheet"
          href="{% static 'css/styles.css' %}">

</head>

<body>

<div class="login-card">

    <h1>CapeArk</h1>

    <h2>Migration Dashboard</h2>

    <p>
        Welcome to the CapeArk Migration Dashboard.
    </p>

    <p>
        Authenticated using CapeArk credentials.
    </p>

    <hr>

    <div id="userInfo">
        Loading...
    </div>

    <button onclick="logout()">
        Logout
    </button>

</div>

<script src="{% static 'js/app.js' %}"></script>

</body>

</html>